*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white:#FFFFFF;
    --black:#000000;
    --green-800:#24554A;
    --green-600:#3E7467;
    --green-500:#458D7E;
    --green-300:#90D4C6;
    --grey-950:#24303E;
    --grey-600:#5B636D;
    --grey-550:#808397;
    --grey-400:#A7AAAD;
    --blue-950:#052C3B;
    --blue-800:#19536C;
    --red-400:#FE7766;
    --red-400transp:#fda59a;
    --yellow-500:#FAD400;
    --yellow-500transp:#f9e366;
    --font-family: "Fraunces", serif;
    --font-family2: "Barlow", sans-serif;

    --txt-1: 800 56px/125% var(--font-family);
    --txt-2: 700 24px/125% var(--font-family);
    --txt-3: 700 40px/125% var(--font-family);
    --txt-4: 800 38px/125% var(--font-family);
    --txt-5: 700 32px/125% var(--font-family);
    --txt-6: 700 20px/125% var(--font-family);
    --txt-7: 700 18px/125% var(--font-family);
    --txt-8: 700 15px/165% var(--font-family);
    --txt-9: 700 20px/125% var(--font-family2);
    --txt-10: 500 18px/165% var(--font-family2);
    --txt-11: 500 18px/170% var(--font-family2);
    --txt-12: 500 14px/180% var(--font-family2);
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

}