/* MOBILE FIRST */
/* ===========utility========== */

.patter-1-h2-brandSection{
    font: var(--txt-4);
    color: var(--grey-950);
    text-align: center;
}

.patter-1-p-brandSection{
    font: var(--txt-10);
    color: var(--grey-550);
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.learnMorePatter{
    font: var(--txt-8);
    color: var(--grey-950);
    text-decoration: none;    
}


/* ================MOBILE FIRST================ */
header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem ;
    position: absolute;
    align-items: center;
    width: 100%;
    /* border: 1px solid white; */
}

.logoHeader{
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.headerNav{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 24px;
    right: 24px;
    top: 5rem;
    z-index: 1;
    list-style: none;
    background: white;
    display: none;
}

.headerNav a{
    text-decoration: none;
    font: var(--txt-9);
    color: var(--grey-550);
}

.contactNav{
    border-radius: 30px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--yellow-500);    
}
.contactNav a{
    font: var(--txt-6);
    color: var(--grey-950);   
}

.triangle{
    width: 24px;
    height: 24px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    position: absolute;
    top: -24px;
    right: 0px;
    background-color: white;
}
/* ===================MAIN============== */
.presentationSection{
    font: var(--txt-2);
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(255, 25, 0); */
    width: 100%;
}

.presentationSection h1{
    line-height: 3.5rem;
    letter-spacing: .2rem;
    text-align: center;
    padding-bottom: 3rem;
    color: white;
}

.arrowDown{
    cursor: pointer;
}

.orangeImageContainer{
    /* border: 1px solid red; */
    height: 100vh;
    background-image: url(../assets/tablet/image-header-tablet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ===============BRAND SECTION============ */

.eggImageContainer{
    height: 40vh;
    background-image: url(../assets/mobile/image-transform.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTxtBrandS{
    /* border: 2px solid rgb(3, 134, 18); */
    height: 60vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorsLearnMore{
    display: flex;
    position: relative;
    justify-content: center;
}

.colorBoxBrand{
    height: 10px;
    border-radius: 2rem;
    background-color: var(--yellow-500transp);
    width: 100%;
    position: absolute;
    bottom: 2px;
    z-index: -1;
    min-width: 8rem;
    max-width: 8rem;
}


/* ===============standOutSection============ */

.standOutImageContainer{
    border: 1px solid white;
    height: 40vh;
    background-image: url(../assets/mobile/image-stand-out.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerTxtStandOutS{
    /* border: 2px solid rgb(3, 134, 18); */
    height: 60vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colorBoxStandOut{
    height: 10px;
    border-radius: 2rem;
    background-color: var(--red-400transp);
    width: 100%;
    position: absolute;
    bottom: 2px;
    z-index: -1;
    min-width: 8rem;
    max-width: 8rem;
}

/* =================graphicDesignSection========== */

.graphicDesignSection{
    /* border: 2px solid rgb(255, 3, 171); */
    height: 100vh;
    background-image: url(../assets/mobile/image-graphic-design-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.containerTxtDesign{
    /* border: 1px solid grey; */
    position: absolute;
    bottom: 3.5rem;
    padding: 0rem 1rem;
    text-align: center;
}

.containerTxtDesign h2{
    font: var(--txt-5);
    color: var(--green-800);
    padding-bottom: 2rem;
}

.containerTxtDesign p{
    font: var(--txt-11);
    color: var(--green-600);

}

/* =============containerPHOTOGRAPHY============ */

.photographySection{
    /* border: 2px solid rgb(255, 3, 171); */
    height: 100vh;
    background-image: url(../assets/mobile/image-photography.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.containerTxtphotog{
    /* border: 1px solid grey; */
    position: absolute;
    bottom: 3.5rem;
    padding: 0rem 1rem;
    text-align: center;
}

.containerTxtphotog h2{
    font: var(--txt-5);
    color: var(--blue-950);
    padding-bottom: 2rem;
}

.containerTxtphotog p{
    font: var(--txt-11);
    color: var(--blue-800);

}

/* =====================testimonials=========== */
.testimonials h2{
    font: var(--txt-6);
    color: var(--grey-400);
    letter-spacing: .2rem;
    text-align: center;
    margin-top: 3.5rem;
}

.testimonialsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 0rem 1rem;
}


.imgTestimonials{
    border-radius: 100%;
    overflow: hidden;
    width: 4.5rem;
    height: 4.5rem;
    margin: 3.5rem 0rem;
}


.paragTestimonials{
    font: var(--txt-10);
    color: var(--grey-600);
    margin-bottom: 2rem;
    text-align: center;
}

.testimonialsNames{
    font: var(--txt-7);
    color: var(--grey-950);
    text-align: center;
    margin-bottom: .5rem;
}

.cargo{
    font: var(--txt-12);
    color: var(--grey-400);
    text-align: center;

}

/* ==========lastImages BEFORE FOOTER=========== */

.lastImages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 23.5rem;
    margin-top: 3.5rem;
    /* border: 1px solid red; */
}

.bottlesImageContainer{
    background-image: url(../assets/mobile/image-gallery-milkbottles.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.orangePlateImageContainer{
    background-image: url(../assets/mobile/image-gallery-orange.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}          

.coneImageContainer{
    background-image: url(../assets/mobile/image-gallery-cone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sugarImageContainer{
    background-image: url(../assets/mobile/image-gallery-sugar-cubes.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =============FOOTER============ */

footer{
    background-color: var(--green-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoFooter{
    padding-top: 4.5rem;
    /* border: 1px solid red; */
}

.navFooter ul{
    list-style: none;
    display: flex;
    gap: 3.5rem;
    justify-content: center;
    width: 100%;
    margin: 2.5rem 0rem 5rem 0rem;
}

.navFooter ul a{
    text-decoration: none;
    font:var(--txt-10);
    color: var(--green-500);
}

.socials{
    display: flex;
    gap: 2rem;
    padding-bottom: 5rem;
}



