@media (min-width: 768px) {

    header nav{
        /* border: 2px solid rgb(0, 255, 60); */
        cursor: pointer;
        position: relative;
    }

    .triangle {
        width: 24px;
        height: 24px;
        background: white;
        clip-path: polygon(100% 0, 100% 100%, 0 100%);
        position: absolute;
        bottom: 100%;
        right: 0rem;
}
    }

    nav .headerNavTablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        gap: 2rem;
        position: absolute;
        display: none;
        top: 400%;
        right: 0rem;
        padding: 2.5rem 0rem;
        list-style: none;
        min-width: 50rem;
        background-color: white;


    }

    nav .headerNavTablet a{
        text-decoration: none;
        font: var(--txt-9);
        color: var(--grey-550);
    }

    nav ul .contactNav{
        background-color: var(--yellow-500);
        border-radius: 50px;
        padding: 1rem 2.5rem;
        font: var(--txt-8);
    }

    nav ul .contactNav a{
        font: var(--txt-6);
        color: var(--grey-950);
    }
    /* =============MAIN============ */
    .presentationSection h1{
        max-width: 25rem;
    }

/* ===============BRAND SECTION============ */

    .eggImageContainer{
        height: 60vh;
    }

    .containerTxtBrandS{
        /* border: 2px solid rgb(3, 134, 18); */
        height: 40vh;
        padding: 4rem 10rem;
    }

    .containerTxtBrandS h2{
        /* border: 1px solid red; */
        max-width: 20rem;
    }



/* ===============standOutSection============ */

    .standOutImageContainer{
        height: 60vh;
    }

    .containerTxtStandOutS{
        /* border: 2px solid rgb(3, 134, 18); */
        height: 40vh;
        padding: 4rem 10rem;
    }

    .containerTxtStandOutS h2{
        /* border: 1px solid red; */
        max-width: 20rem;
    }


/* =================graphicDesignSection========== */

.graphicDesignSection{
    height: 70vh;
    background-image: url(../assets/tablet/image-graphic-design-tablet.png);
}

.containerTxtDesign{
    padding: 0rem 13.5rem;
}

.containerTxtDesign p{
    font: var(--txt-11);
    color: var(--green-600);

}

/* =============containerPHOTOGRAPHY============ */

.photographySection{
    height: 70vh;
    background-image: url(../assets/desktop/image-photography.jpg);
}

.containerTxtphotog{
    padding: 0rem 15rem;
}

/* =====================testimonials=========== */
.paragTestimonials{
    padding: 0rem 5.25rem;
    /* border: 1px solid red; */
}

/* ==========lastImages BEFORE FOOTER=========== */


.lastImages{
    height: 48rem;
    /* border: 1px solid red; */
}


.bottlesImageContainer{
    background-image: url(../assets/tablet/image-gallery-milkbottlesTABLET.png);
    
}
.orangePlateImageContainer{
    background-image: url(../assets/tablet/image-gallery-orange-tablet.png);
}          

.coneImageContainer{
    background-image: url(../assets/tablet/image-gallery-cone-tablet.png);
}

.sugarImageContainer{
    background-image: url(../assets/tablet/image-gallery-sugar-cubes-tablet.png);
}

